.headline {
    text-align: center;
    color: white;
}

.rounded {
    border-radius: 0.5rem !important
}
/* grid style */
body {
    margin: 30px;
    /*background-image: url('pictures/wallpaper2.jpg');
    background-position: center;*/
}

.whole-container {
    /* border: 1px solid black; */
    width: 100%;
    background-color: lightblue;
}

.flight-details-container {
    border: 1px solid black;
    overflow: auto;
    height: 200px;
}

.my-flights-container {
    border: 1px solid black;
    overflow: auto;
    height: 300px;
}

.external-flights-container {
    border: 1px solid black;
    overflow: auto;
    height: 300px;
}

.my-row {
    /* border: 1px solid black; */
}

.my-col {
    /* border: 1px solid black; */
}
/* map style */
#mapid {
    height: 400px;
    width: 100%;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #91cee0;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* drag&drop */
#drop-area {
    border: 2.5px dashed gray;
    border-radius: 20px;
    width: 100%;
    min-height: 287px;
    font-family: sans-serif;
    margin: 5px auto;
    /* padding: 20px; */
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}